@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .link_item {
    @apply transition-all hover:md:underline underline-offset-[7px] text-sm decoration-primary text-white md:text-neutral-700 capitalize px-3 py-1 hover:md:rounded-full border-b-2 border-yellow-50 md:border-0;
  }
  .max-container {
    @apply mx-auto max-w-screen-lg;
  }
  .button {
    @apply rounded-full px-6 py-1 hover:brightness-105 hover:underline underline-offset-2 transition-all;
  }
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexCenter {
    @apply flex justify-center items-center;
  }
  .faq-question {
    @apply my-3;
  }
  .sub-title {
    @apply font-semibold cursor-pointer block leading-5;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #5e50ff;
  border-radius: 50rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #5e50ff;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fade-in {
  animation: anim_fade-in 250ms ease-in;
}

@keyframes anim_fade-in {
  from {
    opacity: 0.5;
    margin-left: 2rem;
  }
}
